<!DOCTYPE html>
<html lang="en">
   <!-- partial view çağırma head -->
   <%-include("./partials/head.ejs")%>
<body>
    <!-- partial view çağırma nav-->
    <%-include("./partials/nav.ejs")%>
    <div class="hakkimda content">
        <!-- buraya app.jsden gönderilen veriyi yakalayalım -->
        <h2><%=hakkimda %></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore rem obcaecati id consectetur, quibusdam excepturi earum, dolorum vel illum illo necessitatibus consequuntur ea. Alias quo ipsum quibusdam officiis laboriosam numquam.</p>
    </div>
</body>
</html>