<!-- burası partial view -->
<nav>
    <div class="site-title">
        <a href="/"><h1>AOS Egitim</h1></a>
    </div>
    <ul>
        <li><a href="/">Dersler</a></li>
        <li><a href="/hakkimda">Hakkimda</a></li>
        <li><a href="/ders/ekle">Ders Ekle</a></li>
    </ul>
</nav>