<!-- partial veiw çağır -->
<%- include("partials/header")  %>

<header>
    <div class="work">
        <img src="/work.png" alt=""/>
    </div>
    <div class="heading">
        <h2>AOS Is Takip Uygulamasi</h2>
        <a class="btn" href="/works">Isleri Gorüntüle</a>
    </div>
</header>


<!-- partial veiw çağır -->
<%- include("partials/footer")  %>